.ant-page-header-rtl .image {
    margin: 0 60px 0 0;
}

[data-theme='compact'] .link {
    line-height: 20px;
}

[data-theme='compact'] .link-icon {
    width: 20px;
    height: 20px;
}

.ant-page-header-rtl .link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.ant-page-header-rtl .link-icon {
    margin-right: 0;
    margin-left: 8px;
}

.ant-page-header-heading-title {
    position: relative;
    font-size: 20px;
    color: #ffffff;
    -webkit-text-stroke: 0.8px lightgray;
    text-transform: capitalize;
}
.ant-page-header-heading-title::before {
    content: attr(title);
    position: absolute;
    width: 0%;
    height: 100%;
    color: #000000;
    -webkit-text-stroke: 0px #000000;
    border-right: 1.5px solid #000000;
    overflow: hidden;
    animation: titleAnimation 8s ease infinite;
}

@keyframes titleAnimation
{
    0%, 10%, 90% {
        width: 0;
        border-right-color: #000000;
    }
    20%, 90% {
        width: 100%;
        border-right-color: #000000;
    }
    30%, 50%, 70% {
        border-right-color: #e2e2e2;
    }
    40%, 60%, 80% {
        border-right-color: #000000;
    }
}