.image {
    margin: 0 0 0 60px;
    display: flex;
    align-items: center;
}
  
.ant-page-header-rtl .image {
    margin: 0 60px 0 0;
}
  
.link {
    padding: 0px 15px 4px 0px;
}

[data-theme='compact'] .link {
    line-height: 20px;
}

.link-icon {
    margin-right: 8px;
}

[data-theme='compact'] .link-icon {
    width: 20px;
    height: 20px;
}

.ant-page-header-rtl .link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.ant-page-header-rtl .link-icon {
    margin-right: 0;
    margin-left: 8px;
}
  
@media (max-width: 768px) {
    .image {
      flex: 100%;
      margin: 24px 0 0;
    }
}