.ant-page-header-rtl .image {
    margin: 0 60px 0 0;
}

[data-theme='compact'] .link {
    line-height: 20px;
}

[data-theme='compact'] .link-icon {
    width: 20px;
    height: 20px;
}

.ant-page-header-rtl .link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.ant-page-header-rtl .link-icon {
    margin-right: 0;
    margin-left: 8px;
}