pre {
    margin: 0 !important;
}

.output {
    position: relative;
    background-color: black;
    background-image: radial-gradient(
        #007896bf, black 120%
    );
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}
output::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
        0deg,
        rgb(0, 0, 0, 0.15),
        rgb(0, 0, 0, 0.15) 1px,
        transparent 0,
        transparent 2px
    );
    pointer-events: none;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}
